<h1>DClass#list</h1>
<p>Find me in app/views/d_class/list.html.erb</p>
<p> This is going to be the page where you LIST dance classes from search result</p>

<h1> All dance classes </h1>
<p>
  <% @dclass.each do |dclass| %>
    <li>
      <%= dclass.dancetype %>
      <%= dclass.day %>
      <%= dclass.location %>
    </li>
  <% end %>
</p>


